.clients {
    padding: 80px 8%;
    background: #0a1914;
}

.clients h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    color: white;
}

.client-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
}

.client-card {
    background: rgba(255, 255, 255, 0.08);

    border: 1px solid rgba(255, 255, 255, 0.15);

    backdrop-filter: blur(12px);

    border-radius: 16px;

    padding: 35px 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    font-size: 18px;
    font-weight: 700;

    transition: .3s;
}

.client-card:hover {
    transform: translateY(-8px);

    border-color: #22c55e;

    color: #22c55e;

    box-shadow: 0 0 25px rgba(34, 197, 94, .3);
}

@media (max-width: 900px) {

    .client-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}