/* ===========================
   NAVBAR
=========================== */

.navbar {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 70px;

    position: sticky;
    top: 0;

    z-index: 9999;

    background: rgba(4, 12, 10, .75);

    backdrop-filter: blur(18px);

    border-bottom: 1px solid rgba(255, 255, 255, .08);
}

/* Logo */

.logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

/* Menu */

.nav-menu {
    display: flex;
    align-items: center;
    gap: 35px;
}

/* Navigation Item */

.nav-item {
    display: flex;
    align-items: center;
    gap: 5px;

    color: white;
    text-decoration: none;

    font-size: 15px;
    font-weight: 500;

    cursor: pointer;

    transition: .3s;
}

.nav-item:hover {
    color: #22c55e;
}

/* Dropdown */

.dropdown {
    position: relative;
}

/* Dropdown Menu */

.dropdown-menu {

    position: absolute;

    top: 100%;
    left: 0;

    width: 250px;

    margin-top: 0;

    background: rgba(10, 25, 20, .98);

    border-radius: 15px;

    border: 1px solid rgba(255, 255, 255, .08);

    backdrop-filter: blur(25px);

    overflow: hidden;

    box-shadow: 0 20px 40px rgba(0, 0, 0, .45);

    z-index: 99999;
}

/* Dropdown Links */

.dropdown-menu a {

    display: flex;
    align-items: center;
    gap: 12px;

    padding: 15px 20px;

    color: white;

    text-decoration: none;

    transition: .3s;
}

.dropdown-menu a:hover {

    background: rgba(34, 197, 94, .15);

    color: #22c55e;
}

/* Contact Button */

.contact-btn {

    padding: 13px 28px;

    border-radius: 40px;

    background: #22c55e;

    color: white;

    text-decoration: none;

    font-weight: 600;

    transition: .3s;
}

.contact-btn:hover {

    transform: translateY(-3px);

    box-shadow: 0 0 25px rgba(34, 197, 94, .5);
}